In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('segformer.csv', index_col=0)
df.head()

           philips3  siemens3       ge3  philips15  siemens15      ge15
philips3   0.796110  0.746348  0.799545   0.816242   0.805262  0.801907
philips15  0.000067  0.000519  0.000379   0.000065   0.000017  0.000173
siemens3   0.326166  0.764948  0.613243   0.601169   0.482637  0.218178
siemens15  0.561121  0.744569  0.707336   0.781957   0.737165  0.529839
ge3        0.007901  0.001096  0.010957   0.009220   0.003486  0.006996

In [6]:
df.round(2)

           philips3  siemens3   ge3  philips15  siemens15  ge15
philips3       0.80      0.75  0.80       0.82       0.81  0.80
philips15      0.00      0.00  0.00       0.00       0.00  0.00
siemens3       0.33      0.76  0.61       0.60       0.48  0.22
siemens15      0.56      0.74  0.71       0.78       0.74  0.53
ge3            0.01      0.00  0.01       0.01       0.00  0.01
ge15           0.74      0.74  0.78       0.83       0.84  0.85

In [4]:
df.index

Index(['philips3', 'philips15', 'siemens3', 'siemens15', 'ge3', 'ge15'], dtype='object')